{{#> main}}
{{#*inline "body"}}
<div class="bg-gray-100 overflow-x-hidden">
    <!-- HIGH END CREATIVE AGENCY -->
   <section class="w-full h-fit">
      <div
        class="font-epilogue h-fit bg-[url('https://ui-themez.smartinnovates.net/items/geekfolio/light/assets/imgs/patterns/graph.png')] bg-contain bg-no-repeat lg:pb-52 xl:pb-0">
        <div class="pt-44">
          <div class="px-4 sm:px-10 md:mx-11 md:px-4 lg:pr-0 lg:mr-0">
            <div class="flex justify-between wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="400ms"> 
              <h1
                class="text-4xl md:text-6xl lg:text-8xl font-bold mb-2 leading-snug md:leading-normal tracking-wider md:max-w-2xl xl:max-w-5xl xl:pl-8 xl:pr-16">
                HIGH END
                <br><span class="text-stroke">CREATIVE</span>
                AGENCY
              </h1>
              <div class="w-fit h-fit xl:pr-40">
                <div class="lg:w-52 lg:h-52 lg:relative lg:block lg:mr-4 hidden">
                  <a href="#" class="w-full h-full">
                    <div class="text-3xl animate-rotate">
                      <svg class="textcircle" viewBox="0 0 500 500">
                        <defs>
                          <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z">
                          </path>
                        </defs>
                        <text>
                          <textPath xlink:href="#textcircle" textLength="900">EXPLORE MORE
                            -
                            EXPLORE MORE -</textPath>
                        </text>
                      </svg>
                    </div>
                    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                      <svg width="40px" height="40px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#000000"
                          d="M768 256H353.6a32 32 0 1 1 0-64H800a32 32 0 0 1 32 32v448a32 32 0 0 1-64 0V256z" />
                        <path fill="#000000"
                          d="M777.344 201.344a32 32 0 0 1 45.312 45.312l-544 544a32 32 0 0 1-45.312-45.312l544-544z" />
                      </svg>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="lg:flex block">
                <div class="lg:basis-1/3 lg:pl-10 lg:max-w-72 xl:max-w-lg xl:ml-24 xl:px-6 xl:mr-1 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="400ms">
                  <div class="text">
                    <p class="text-base font-light text-gray-500 xl:leading-loose">Through our years of experience,
                      we've also learned that while each
                      channel has its own set of advantages.</p>
                  </div>
                  <div class="mt-8 w-full h-12">
                    <a href="https://www.youtube.com/watch?v=AzwC6umvd1s&feature=youtu.be"
                      class="glightbox relative flex w-32 h-full border border-gray-900 rounded-full pl-4 pr-10 items-center justify-center cursor-pointer">
                      <span class="text-base font-light text-gray-500 bg-transparent mr-1">WATCH</span>
                      <span
                        class="w-11 h-11 rounded-full bg-yellow-500 absolute right-0.5 flex items-center justify-center">
                        <svg width="15px" height="30px" viewBox="-3 0 28 28" version="1.1"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">

                          <title>play</title>
                          <desc>Created with Sketch Beta.</desc>
                          <defs>

                          </defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            sketch:type="MSPage">
                            <g id="Icon-Set-Filled" sketch:type="MSLayerGroup"
                              transform="translate(-419.000000, -571.000000)" fill="#000000">
                              <path
                                d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554"
                                id="play" sketch:type="MSShapeGroup">

                              </path>
                            </g>
                          </g>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="lg:basis-2/3 mt-16 lg:mt-10 lg:ml-10 xl:m-0 wow slideInRight" data-wow-duration="1200ms">
                  <img src="/images/14.jpg" alt="1" class="object-cover w-full h-96 sm:w-full ">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- OUR BENEFITS -->
    {{> home/partials/BENEFITS}}
    
    <!-- infinite rotate-->
    <section
      class="py-12 max-h-40 border-y bg-inherit border-gray-300 overflow-hidden font-epilogue -rotate-2 relative z-20">
      <div
        class="flex max-h-18 md:max-h-8xl items-center [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"> 
        <script id="template-infiniteRotate" type="text/x-handlebars-template">
          {{#infiniteRotate}}                     
            <div class="flex items-center justify-center px-8 text-nowrap">
              <h4 class="text-4xl md:text-7xl font-semibold">{{h4}}</h4>
              <span class="text-5xl font-bold text-stroke ml-12 mt-6">*</span>
            </div>
          {{/infiniteRotate}}
        </script>
        <div class="infiniteRotate flex flex-nowrap items-center justify-between animate-infinitescroll">
        </div>
      </div>
    </section>
    
    <!-- label -->
    <div class="w-full h-fit py-16 px-20 md:px-28 border-y border-gray-400 flex items-center justify-around">
      <div>
        <a href="#">
          <img src="/images/01.png" alt="1" class="w-24 h-7">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="/images/02.png" alt="2" class="w-24 h-7">
        </a>
      </div>
      <div class="hidden sm:block">
        <a href="#">
          <img src="/images/03.png" alt="3" class="w-24 h-7">
        </a>
      </div>
      <div class="hidden lg:block">
        <a href="#">
          <img src="/images/04.png" alt="4" class="w-24 h-7">
        </a>
      </div>
      <div class="hidden lg:block">
        <a href="#">
          <img src="/images/05.png" alt="5" class="w-24 h-7">
        </a>
      </div>
    </div>

    <!-- Our Services -->
    {{> home/partials/SERVICES}}
    
    <!-- Scroll section image -->
    {{> home/partials/DESIGN}}
    
    <!-- infinite label -->
    {{> home/partials/SER}}
    
    <!-- What People Says -->
    {{> home/partials/TESTIMONIALS}}
    
    <!-- Latest News -->
    {{> home/partials/BLOG}}

    <!-- Progress according to height -->
    <div
      class="cursor-pointer fixed z-20 right-7 bottom-7 flex justify-center items-center w-12 h-12 rounded-full border-solid border-2 border-black">
      <i class="fa-solid fa-angle-up"></i>
    </div>
    
  </div>
  {{/inline}}
{{/main}}