version: '3.9'

services:
  database:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres:/database
    ports:
      - 5432:5432
    restart: always

  cache:
    container_name: redis-cache
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - redis:/data

#  server:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: nest-fastify-dev
#    ports:
#      - '3000:3000'
#    depends_on:
#      - database
#      - cache
#    environment:
#      REDIS_HOST: 'cache'
#      DATABASE_HOST: 'database'
#    volumes:
#      - ./src:/app/src
#    command: npm run dev

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
  redis:
