<!---ame-->
<div
  class='m-2.5 max-xl:my-0 max-md:my-0 fixed z-20 pointer-events-none left-1.5 -right-1 top-2 -bottom-1.5 border-2 border-solid border-gray-300'
>
  <div class='absolute border-2 border-solid border-black -left-2 -top-2 bottom-1 right-2 box-border w-full'></div>
  <!---p-panel-->
  <div
    class='mil-top-panel max-xl:bg-white max-md:bg-white col-span-2 flex items-center h-20 justify-between transition delay-0 pointer-events-auto'
  >
    <div class='col-start-1 w-full justify-start items-center flex h-full'>
      <a
        href='#'
        class='border-b-2 z-20 border-r-2 border-solid border-black mt-0.5 px-10 w-44 h-20 flex items-center relative -left-2 -right-2 bottom-2'
      >
        <div class='w-9 left-2 border-solid border-gray-300'></div>
        <div
          class='absolute border-r-2 h-20 border-b-2 border-solid border-gray-300 left-2 top-1.5 -bottom-2 -right-2'
        ></div>
        <img data-src='https://html.bslthemes.com/treto/img/logo.png' class='w-full lazy' />
      </a>
      <nav
        class='max-xl:hidden border-b-2 border-solid border-black mt-0.5 h-20 flex items-center relative -left-2 -right-2 bottom-2'
      >
        <div class='w-10 left-2 border-solid border-gray-300'></div>
        <div class='absolute h-20 border-b-2 border-solid border-gray-300 -left-1 top-1.5 -bottom-2 -right-1.5'></div>

        <ul
          id='nav-desktop'
          class='z-10 flex font-Jost-Font font-bold text-sm whitespace-nowrap uppercase leading-10'
        ></ul>
      </nav>
      <div
        class='hidden max-xl:block max-xl:absolute menu-toggle-btn p-4 border-2 border-solid border-black max-xl:top-0 max-xl:right-5 max-lg:text-white cursor-pointer z-50'
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <nav
      id='template-1'
      class='hidden max-xl:w-full max-xl:mt-20 max-xl:right-3 max-xl:absolute max-xl:visible max-xl:block max-xl:flex-col'
    >
      <ul
        id='nav-respon'
        class='fixed hide-nav font-Jost-Font font-semibold uppercase text-sm bg-white text-center text-black w-full p-6'
      ></ul>
    </nav>

    <div
      class='max-xl:hidden col-start-3 px-28 w-1/12 justify-end items-center flex h-full border-b-2 border-solid border-black mt-0.5 relative -left-2 -right-2 bottom-2'
    >
      <div class='w-10 left-2 border-solid border-gray-300'></div>
      <div class='absolute h-20 border-b-2 border-solid border-gray-300 left-2 top-1.5 -bottom-2 right-0'></div>

      <ul id='nav-icon' class='z-10 flex absolute left-10 justify-center bottom-7'></ul>
    </div>
  </div>

  <!---oter-->
  <div
    class='mil-footer max-xl:hidden px-6 py-3 left-0 bottom-0 absolute border-t-2 border-solid border-gray-300 font-Jost-Font font-bold text-sm whitespace-nowrap uppercase leading-10'
  >
    <div class='absolute border-t-2 border-solid border-black -left-2 -top-2 bottom-1 right-2 box-border w-full'></div>
    <p class='mil-upper mil-upper-sm mb-2'>
      © 2024
      <span class='mil-accent text-orange-600'>Treto.</span>
      All rights reserved.
    </p>
  </div>
  <!---oter-end-->
</div>
<!---ame-end-->