<!-- Pagination -->
<div class='mil-pagination max-xl:hidden z-50 flex-col flex fixed top-1/2 right-12 -translate-y-28 items-center'>
  <div class='absolute left-1/2 min-w-0.5 h-full bg-gray-300'></div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection1'
      class='group active1 absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-8 right-5 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Home
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection2'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-8 right-5 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        About
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection3'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-8 right-5 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Skills
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection4'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-10 right-3 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Education
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection5'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-12 right-4 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Experience
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection6'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-10 right-4 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Services
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer mb-4'>
    <a
      id='scrollToSection7'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-12 right-1 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Testimonials
      </p>
    </a>
  </div>
  <div class='mil-dot flex items-center relative w-4 h-4 cursor-pointer'>
    <a
      id='scrollToSection8'
      class='group absolute w-full h-full bg-white border-4 border-solid border-gray-300 rotate-45 flex'
    >
      <p
        class='absolute group-hover:translate-x-1 duration-500 group-hover:opacity-100 top-10 right-3 text-black uppercase font-Jost-Font font-semibold text-base opacity-0 -rotate-45'
      >
        Contacts
      </p>
    </a>
  </div>
</div>
<!-- Pagination end -->