<div
  id='section6'
  class='mil-section fade fadeOut relative z-10 w-full h-screen flex justify-center items-center max-xl:h-auto 2xl:pt-28 pb-32'
>
  <div class='w-72 h-96 opacity-35 -rotate-12 absolute box-bg bottom-3/4 right-1/4 -z-10 rounded-full'></div>

  <div class='w-72 h-96 opacity-35 -rotate-12 absolute box-bg top-1/3 -left-0 -z-10 rounded-full'></div>

  <div class='container w-full mx-auto px-8 max-w-7xl mt-10'>
    <p class='text-black uppercase font-Jost-Font font-semibold text-base mb-7 xl:px-4'>
      Freelance
    </p>

    <h2
      class='text-black uppercase font-Jost-Font font-bold 2xl:text-6xl lg:text-5xl md:text-4xl sm:text-4xl text-3xl mb-14 text-shadow'
    >
      Services
    </h2>

    <div class='flex flex-wrap justify-between items-center max-w-full 2xl:px-4'>
      <div id='content-ser' class='flex 2xl:flex-row flex-col relative w-full h-full box-content'></div>
    </div>
  </div>
</div>