<html lang='{{lang}}'>
  <head>
    <meta charset='utf-8' />
    <title>{{#if title}}{{title}}{{else}} Client website{{/if}}</title>
    <meta name='description' content='ARI TECHNOLOGY' />
    <meta name='robots' content='noarchive,index,follow' />
    <link id='canonical' rel='canonical' href='https://ari.com.vn' />

    <meta
      content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1'
      name='viewport'
    />
    <meta http-equiv='X-UA-Compatible' content='IE=100' />
    <meta name='apple-mobile-web-app-capable' content='yes' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet' />

    <!-- META FOR FACEBOOK -->
    <meta property='fb:app_id' content='110837687935741' />
    <meta property='og:locale' content='vi_VN' />
    <meta property='og:site_name' content='ari.com.vn' />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='https://ari.com.vn/assets/images/logo.svg' />
    <meta property='og:image:width' content='596' />
    <meta property='og:image:height' content='596' />
    <meta property='og:url' itemprop='url' content='https://ari.com.vn' />
    <meta property='og:title' itemprop='headline' content='ARI TECHNOLOGY' />
    <meta
      property='og:description'
      content='ARI is one of the Best Technical Agency - ARI Technology Joint Stock Company was established in 2018 and headquartered in Ho Chi Minh City.'
    />
    <!-- END META FOR FACEBOOK -->

    <!-- Twitter Card -->
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@ari' />
    <meta name='twitter:creator' content='@ari' />
    <meta name='twitter:url' content='https://ari.com.vn' />
    <meta name='twitter:image' content='https://ari.com.vn/assets/images/logo.svg' />
    <meta name='twitter:title' content='ARI TECHNOLOGY' />
    <meta
      name='twitter:description'
      content='ARI is one of the Best Technical Agency - ARI Technology Joint Stock Company was established in 2018 and headquartered in Ho Chi Minh City.'
    />
    <!-- End Twitter Card -->

    <base href='/' />
    <link rel='icon' type='image/x-icon' href='/images/favicon.ico' />
    <script id='jsonLD' type='application/ld+json'></script>
    <meta
      name='google-signin-client_id'
      content='458714151950-fv7bp4u656lk3bel41agq6jh2j4b27pb.apps.googleusercontent.com'
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-L3TLVBTM19'></script>
    <script>
      window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date());
      gtag('config', 'G-L3TLVBTM19');
    </script>
    <link rel='apple-touch-icon' href='/images/logo192.png' />
    <link rel='apple-touch-icon' href='/images/logo512.png' />
    <link rel='manifest' href='/images/manifest.webmanifest' />
    <meta name='theme-color' content='#2563eb' />
    <!-- swiper -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css' />
    <script src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js'></script>
    <!--  vanilla-lazyload 17 -->
    <script src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@17/dist/lazyload.min.js'></script>
    <!-- gsap -->
    <script src='https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js'></script>

    <!--  glightbox 3  -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/glightbox@3/dist/css/glightbox.min.css' />
    <script src='https://cdn.jsdelivr.net/npm/glightbox@3/dist/js/glightbox.min.js'></script>

    <!--  sweetalert2 11  -->
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css' rel='stylesheet' />

    <!--  pretty checkbox 3 -->
    <link href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3/dist/pretty-checkbox.min.css' rel='stylesheet' />

    <!--  choices.js 10 -->
    <script src='https://cdn.jsdelivr.net/npm/choices.js@10/public/assets/scripts/choices.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/choices.js@10/public/assets/styles/choices.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
    <!-- Header -->
    <div>
      <h1 class='text-center text-red-700 font-bold bg-red-500'>Boyvip_535</h1>
    </div>
    <main class="min-h-[calc(100vh-103.7rem)]">
      {{> content}}
    </main>
  </body>
</html>