<<<<<<< HEAD
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
=======
<html lang='{{lang}}'>
  <head>
    <meta charset='utf-8' />
    <title>{{#if title}}{{title}}{{else}} Client website{{/if}}</title>
    <meta name='description' content='ARI TECHNOLOGY' />
    <meta name='robots' content='noarchive,index,follow' />
    <link id='canonical' rel='canonical' href='https://ari.com.vn' />
>>>>>>> cc8f740c6e029c4f7825d7407c7f003164b91df4

    <meta
      content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1'
      name='viewport'
    />
    <meta http-equiv='X-UA-Compatible' content='IE=100' />
    <meta name='apple-mobile-web-app-capable' content='yes' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet' />

<<<<<<< HEAD
=======
    <!-- META FOR FACEBOOK -->
    <meta property='fb:app_id' content='110837687935741' />
    <meta property='og:locale' content='vi_VN' />
    <meta property='og:site_name' content='ari.com.vn' />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='https://ari.com.vn/assets/images/logo.svg' />
    <meta property='og:image:width' content='596' />
    <meta property='og:image:height' content='596' />
    <meta property='og:url' itemprop='url' content='https://ari.com.vn' />
    <meta property='og:title' itemprop='headline' content='ARI TECHNOLOGY' />
    <meta
      property='og:description'
      content='ARI is one of the Best Technical Agency - ARI Technology Joint Stock Company was established in 2018 and headquartered in Ho Chi Minh City.'
    />
    <!-- END META FOR FACEBOOK -->

    <!-- Twitter Card -->
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@ari' />
    <meta name='twitter:creator' content='@ari' />
    <meta name='twitter:url' content='https://ari.com.vn' />
    <meta name='twitter:image' content='https://ari.com.vn/assets/images/logo.svg' />
    <meta name='twitter:title' content='ARI TECHNOLOGY' />
    <meta
      name='twitter:description'
      content='ARI is one of the Best Technical Agency - ARI Technology Joint Stock Company was established in 2018 and headquartered in Ho Chi Minh City.'
    />
    <!-- End Twitter Card -->

>>>>>>> cc8f740c6e029c4f7825d7407c7f003164b91df4
    <base href='/' />
    <link rel='icon' type='image/x-icon' href='/images/favicon.ico' />
    <script id='jsonLD' type='application/ld+json'></script>
    <meta
      name='google-signin-client_id'
      content='458714151950-fv7bp4u656lk3bel41agq6jh2j4b27pb.apps.googleusercontent.com'
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=G-L3TLVBTM19'></script>
    <script>
      window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date());
      gtag('config', 'G-L3TLVBTM19');
    </script>
    <link rel='apple-touch-icon' href='/images/logo192.png' />
    <link rel='apple-touch-icon' href='/images/logo512.png' />
    <link rel='manifest' href='/images/manifest.webmanifest' />
    <meta name='theme-color' content='#2563eb' />
    <!-- swiper -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css' />
    <script src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js'></script>
    <!--  vanilla-lazyload 17 -->
    <script src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@17/dist/lazyload.min.js'></script>
    <!-- gsap -->
    <script src='https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js'></script>

    <!--  glightbox 3  -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/glightbox@3/dist/css/glightbox.min.css' />
    <script src='https://cdn.jsdelivr.net/npm/glightbox@3/dist/js/glightbox.min.js'></script>

    <!--  sweetalert2 11  -->
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css' rel='stylesheet' />

    <!--  pretty checkbox 3 -->
    <link href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3/dist/pretty-checkbox.min.css' rel='stylesheet' />

    <!--  choices.js 10 -->
    <script src='https://cdn.jsdelivr.net/npm/choices.js@10/public/assets/scripts/choices.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/choices.js@10/public/assets/styles/choices.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <!-- header -->
    <div class="h-16 relative">
      <div class="absolute top-0 left-0 right-0">
        <header
          class="bg-white w-full h-16 transition-all duration-300 ease-in-out top-0 block sm:bg-gray-100 z-20 fixed lg:relative pl-16"
        >
          <div
            class="flex items-center justify-end sm:justify-between px-5 h-16"
          >
            <div class="flex items-center gap-5 absolute right-6">
              <section
                class="ant-dropdown-trigger flex items-center !rounded-full"
                id="dropdown-profile"
              >
                <div class="flex items-center">
                  <div class="">
                    <img
                      class="rounded-full object-center h-10 w-10 object-cover"
                      src="https://hinhanhdep.org/wp-content/uploads/2016/07/anh-avatar-girl-xinh.jpg"
                    />
                  </div>
                </div>
              </section>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div
      class="flex items-center justify-between bg-white sm:bg-teal-900 text-gray-800 hover:text-gray-500 h-16 fixed top-0 left-0 pr-5 pl-3 font-bold transition-all duration-300 ease-in-out rounded-tr-3xl z-20 w-16 bg-teal-900"
    >
      <div class="flex">
        <div class="hamburger sm:!hidden is-active">
          <span class="line"></span><span class="line"></span
          ><span class="line"></span>
        </div>
        <a href="/vn/dashboard" class="flex items-center"
          ><svg
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 76 48"
            enable-background="new 0 0 76 48"
            xml:space="preserve"
            class="w-12 mr-3 rounded bg-slate-200 opacity-0 text-[0px] hidden"
          >
            <g>
              <path
                fill="#A8CAFE"
                d="M51.5,26.3l-0.7-0.5l3.8-1.1L51.5,26.3z M51.7,27.5L51,28.5l0.4,1.2l4.8-2.6L51.7,27.5z M52.7,30.6l4.9,2 l-1.3-5.5L52.7,30.6z M38.8,24.3l2.5-3.4l-4.1,1.9L38.8,24.3z M72.1,21.4l-0.1,3.2l1.2-2.3L72.1,21.4z M69.9,27l1.2-0.8l-1.9-1.2 L69.9,27z M68.7,28.3l0.5-3.2l-3.4,1.8L68.7,28.3z M65.7,32.7L67,30l-1.1-3.2l-4.3,1.6L65.7,32.7z M53.6,34.3l4-1.7L53,32.2 L53.6,34.3z M51.8,37.4h4.6l-3.7-1.5L51.8,37.4z M52.6,39.8l3.8-2.4l-4.2,1.3L52.6,39.8z M52.6,41.1l2.4,0.6l1.4-4.3L52.6,41.1z  M55,41.8L55,41.8L55,41.8L55,41.8l-2.3,1.4l0.3,1.4L55,41.8l0.5,2.2l1-0.7L55,41.8L55,41.8z M56.5,43.3l2.1-1.7l-0.8-1L56.5,43.3z  M62.7,38.1l-1.2-2l0.1,2.7L62.7,38.1z M65.4,36.1l0.7-1.1l-4.5,1.1H65.4z M47.9,24.4l4.1-3.6l-6.5,1.8L47.9,24.4z M49.2,25.6 l0.3,0.3h1.3l1.2-5L49.2,25.6z M44.9,25.5l0.7-2.9l-4.2-1.7L44.9,25.5z M42.5,25.1l-1.2-4.2l-0.5,4.8L42.5,25.1z M36.2,21.4 l5.1-0.5L39.6,18L36.2,21.4z M35.3,20.3l4.3-2.2l-4.1-0.2L35.3,20.3z"
              ></path>
              <path
                fill="#3A88FC"
                d="M50.7,5.7L48,7.5l0.8-1.8H50.7z M42.3,10.3L48,7.5l-7,0.4L42.3,10.3z M44,6.6l4,0.8l-1.6-1.8L44,6.6z  M48,7.5l4.3,0.3l-0.6-1.3L48,7.5z M55,10.9l0.5-2.1L53.9,8L55,10.9z M63.7,16.5l0.7,2.3l1.8-2.7L63.7,16.5z M65.2,12.9L63.4,13 l2.8,1.3L65.2,12.9z M62.4,8.8l0.1,4.4l1.7-1.6L62.4,8.8z M60.2,10.6l2.2-1.7l-1.6-0.1L60.2,10.6z M57.2,8.5l3,2.1l-0.9-2.4 L57.2,8.5z M63.9,9.2l-1.5-0.4l2.3,1.6L63.9,9.2z"
              ></path>
              <path
                fill="#919FB4"
                d="M39.2,13.7l8.4-2.8l-4.2,4L39.2,13.7z M47.6,10.9l1.4,4.7l6-4.7H47.6z M35.6,14.9l3.6-1.2l-2.9-0.5 L35.6,14.9z M38.3,11.1l0.9,2.6l3.1-3.4L38.3,11.1z M64.5,18.8l3.2-1.7l-1.4-1L64.5,18.8l-0.7-2.3L60.6,17L64.5,18.8L64.5,18.8 L64.5,18.8L64.5,18.8L64.5,18.8z M56.5,43.3l1.3-2.7L55,41.8L56.5,43.3z M57.5,32.6l-4,1.7l2.8,3.1L57.5,32.6z M57,18.8l1.5,2.2 l2.3-0.8L60.6,17l-6.5-2.1L57,18.8z"
              ></path>
              <path
                fill="#8AADE1"
                d="M63.1,13.1l-0.6,0l0.3-0.3l-0.1-0.1l0.1,0l1.4-1.3l1,1.4L63.4,13l2.8,1.3l0,1.7L63.1,13.1z M64.7,10.3 l-2.3-1.6l2,3L64.7,10.3z M54.1,14.9l6.1-4.3L55,10.9L54.1,14.9z M60.2,10.6l0.4,5.7l2-3.1l-0.1-4.3L60.2,10.6z M59.3,8.2l0.9,2.4 l0.6-1.8L59.3,8.2z M51.7,6.5l-1-0.8L48,7.5L51.7,6.5z M47.6,10.9l4.7-3L48,7.5L47.6,10.9z M39.9,9.2l2.3,1.1L41,7.8L39.9,9.2z  M46.4,5.7L48,7.5l0.8-1.8H46.4z M52.3,7.8l2.7,3L53.9,8L52.3,7.8z M55.5,8.8L55,10.9l1.9-1.6L55.5,8.8z M43,6.4l-2,1.4l7-0.4 l-4-0.8L43,6.4z"
              ></path>
              <path
                fill="#86B6FD"
                d="M47.6,10.9l-8.4,2.8l3.1-3.4L47.6,10.9z M46.6,15l2.4,0.6l-1.4-4.7L46.6,15z M49,15.6l3,5.3l2.1-5.9 L49,15.6z M36.3,16l2.9-2.3l-3.6,1.2L36.3,16z M36.3,13.2l2.9,0.5l-0.9-2.6L36.3,13.2z M67.6,17l-3.2,1.7L60.6,17l0.2,3.1l3.6-1.4 l0,0l3.5-0.1L67.6,17z M61.3,25.8l-0.4-5.7L58.6,21L61.3,25.8z M52,20.8l6.6,0.1L57,18.8L52,20.8z M65.9,26.8l-4.6-1l0.3,2.6 L65.9,26.8z M69.3,25.1l1.9,1.2l0.8-1.7L69.3,25.1z M45.5,19.3l1.1-4.3l-3.2-0.2L45.5,19.3z"
              ></path>
              <path
                fill="#425A7D"
                d="M61.6,2.2c-0.2,0.8,0.4,1.4,1.3,1.2c0,0.1,0.1,0.2,0.1,0.3c0.2,0.4,0.4,0.6,0.8,0.7c0.2,0,0.4,0.2,0.6,0.3 c0.1,0.1,0.1,0.2,0,0.3c0,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.2,0l-0.1,0.1c0.1,0,0.2,0.1,0.3,0.1c0.4,0.3,0.7,0.6,1.1,0.9 c0.2,0.1,0.2,0.3,0.1,0.4c-0.3,0.5-1,0.9-1.6,0.7c-0.6-0.2-1.2-0.4-1.8-0.7c-0.5-0.2-1.1-0.5-1.7-0.5c-0.5,0-0.9,0-1.4-0.1 c-0.2,0-0.4-0.1-0.6-0.2c-0.2-0.1-0.3-0.3-0.4-0.4c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0c-1.3,0-2.3-0.5-3-1.5 c-0.2-0.3-0.4-0.6-0.6-1c-0.5-0.6-1.1-0.8-1.9-0.5c-0.4,0.2-0.9,0.4-1.3,0.6c-0.7,0.4-1.4,0.6-2.2,0.3c-0.2-0.1-0.5-0.1-0.7,0.1 c0.2,0.4,0.1,0.7-0.4,0.7c-0.6,0.1-1.2,0.2-1.9,0.2c-0.4,0-0.4,0-0.5-0.4c-1.2-0.2-2.7,0.5-4,1.6c-0.1-0.1-0.2-0.3-0.3-0.4 c-0.2-0.2-0.4-0.2-0.6,0c-0.2,0.2-0.6,0.2-0.6,0.6c0,0-0.2,0-0.4,0c-0.1,0-0.2-0.1-0.3,0c-0.2,0.1-0.4,0.2-0.6,0.4 c-0.8,1-1.8,1.5-2.9,2c-0.8,0.3-1.6,0.6-2.4,0.9c-0.1,0-0.2,0-0.4,0C39.2,0.7,51.4-2.6,61.6,2.2z M45.5,19.3l6.5,1.6l-6.5,1.8V19.3 z M43.4,14.9L39.6,18l6,1.3L43.4,14.9z M36.3,16l-0.9,1.9l4.1,0.2l-0.4-4.3L36.3,16z M66.1,23.4l3.5-4.7l-1.6,0L66.1,23.4z  M69.6,18.7l0.8,3.5l1.6-0.8L69.6,18.7z M73.1,20.7l-1.1,0.6l1.1,0.9L73.1,20.7z M71.9,24.6l-1.5-2.4l-1.2,2.9L71.9,24.6z M69.9,27 l-0.7-1.9l-0.5,3.2L69.9,27z M68.4,29.3l0.3-0.9l-2.8-1.5L67,30L68.4,29.3z M65.9,26.8l3.4-1.8l-3.1-1.7L65.9,26.8z M61.3,25.8 l4.9-2.4l-1.7-4.6L61.3,25.8z M54.6,24.7L52,20.8l-1.2,5l3.7-1l-2.9,1.5l0.2,1.2L54.6,24.7l-2.8,2.8l4.3-0.5l0.1,0l-4.7,2.5l1.2,1 l3.6-3.5l5.3,1.3l-0.3-2.6l-5,1.2L54.6,24.7L54.6,24.7l6.7,1.1L58.6,21L54.6,24.7z M53,32.2l4.5,0.4l-4.9-2L53,32.2z M52.7,35.9 l3.7,1.5l-2.8-3.1L52.7,35.9z M52.2,38.8l4.2-1.3h-4.6L52.2,38.8z M52.6,41.1l3.7-3.7l-3.8,2.4L52.6,41.1z M55,41.8l-2.4-0.6l0,1.1 L55,41.8z M52.7,43.1l2.3-1.4l0,0l-2,2.8l1-0.1l1-0.1l0.5-0.4L55,41.8l0,0l0,0l0,0l0,0h0l-2.3,0.5V43.1z M60.5,40.5l0.5-1.2 l-3.1,1.3l0.8,1L60.5,40.5z M57.9,40.6l3.7-4.5l-5.2,1.4L57.9,40.6z M61.6,38.7l-0.1-2.7l-0.6,3.2L61.6,38.7z M65.4,36.1h-3.8 l2.6,1L65.4,36.1z M66.1,33.9l-0.4-1.2l-4.1,3.3l4.5-1.1V33.9z M61.6,36.1v-7.6l-4,4.2L61.6,36.1z M45.5,22.6l-0.7,2.9l3-1.1 l1.3,1.2l2.9-4.7l-4.1,3.6L45.5,22.6z M42.5,25.1l2.3,0.3l-3.6-4.6L42.5,25.1z M37.2,22.8l4.1-1.9l-5.1,0.5L37.2,22.8z M35.3,20.3 l0.9,1.1l3.4-3.4L35.3,20.3z M40.8,25.7l0.5-4.8l-2.5,3.4L40.8,25.7z M46.6,15l-1.1,4.3l3.5-3.7L46.6,15z"
              ></path>
              <path
                fill="#122A4D"
                d="M44,30.8c0.1-0.8,0.3-1.5,0.4-2.3c0-0.1,0-0.1,0-0.2c0-0.3,0.2-0.3,0.4-0.3c1,0,2,0,3.1,0 c0.4,0,0.4,0,0.4,0.4c-0.3,1.7-0.6,3.5-0.9,5.2c-0.3,1.7-0.6,3.3-0.8,5c-0.3,1.9-0.6,3.8-1,5.8c-0.1,0.6-0.2,1.2-0.3,1.8 c0,0.2-0.1,0.3-0.3,0.3c-2.1,0-4.2,0-6.3-0.1c-0.1,0-0.3-0.1-0.3-0.2c-0.8-1.3-1.6-2.7-2.4-4c-0.4-0.6-0.7-1.2-1.1-1.8 c-0.1-0.1-0.3-0.2-0.4-0.2c-2,0-4,0-5.9,0h-0.9c-0.2,0-0.2,0-0.3,0.2c-0.3,1.9-0.6,3.8-0.9,5.7c0,0.1-0.1,0.2-0.2,0.3 c-0.1,0.1-0.2,0.1-0.3,0.1c-5.4,0-10.7,0-16.1,0c-0.1,0-0.2,0-0.3,0c0.1-0.1,0.1-0.2,0.2-0.3c1-1.3,2.1-2.6,3.1-3.9 c0.1-0.1,0.1-0.1,0.2-0.2c0.1,0,0.2-0.1,0.3-0.1c2,0,4,0,5.9,0h0.4c-1.3-3.1-2.6-6.1-3.9-9.2c-0.2,0.2-0.3,0.3-0.4,0.4 c-1.5,1.8-3,3.7-4.4,5.6c-2,2.5-4,5-6,7.4c-0.1,0.1-0.2,0.2-0.3,0.2c-1.5,0-2.9,0-4.4,0c-0.1,0-0.1,0-0.2,0 c0.2-0.3,0.4-0.5,0.6-0.8c1.2-1.5,2.5-3.1,3.7-4.6c2.6-3.3,5.2-6.6,7.9-9.8c0.5-0.6,0.9-1.1,1.4-1.7c0.5-0.7,1.2-1.2,2-1.5 c1.4-0.4,2.9,0.1,3.5,1.5c1.4,3.4,2.9,6.7,4.3,10.1c0,0.1,0.1,0.3,0.2,0.4c0.1-0.6,0.2-1.3,0.3-1.9c0.1-0.7,0.2-1.3,0.3-2 c0-0.2,0.2-0.3,0.4-0.3c4.6,0,9.1,0,13.7,0c0.9,0,1.6-0.4,2-1.3c0.2-0.5,0.3-1,0.1-1.5c-0.2-0.6-0.7-0.9-1.4-0.9l-7.8,0h-6.3 c0,0,0-0.1-0.1-0.1c0.2-0.1,0.3-0.3,0.5-0.4c1.2-1.2,2.5-2.3,3.7-3.5c0.1-0.1,0.1-0.1,0.2-0.2c0.1,0,0.2-0.1,0.3,0 c3.4,0,6.9,0,10.3,0c1.9,0,3.2,0.9,4,2.6C43.9,30.6,43.9,30.7,44,30.8L44,30.8z M41.8,43.6L41.8,43.6l1.1-6.1c-0.5,0.5-1,1-1.5,1.4 c-0.5,0.4-1.2,0.7-1.8,1.1L41.8,43.6z M67.4,37.2c-0.5-0.1-0.7-0.5-0.4-0.9c0.2-0.2,0.4-0.4,0.6-0.6c0.2-0.2,0.5-0.4,0.8-0.6 c0.5-0.4,0.7-0.9,0.5-1.6c-0.1-0.3-0.2-0.6-0.3-0.9c-0.4-0.9-0.2-1.6,0.5-2.3c0.3-0.3,0.6-0.5,0.6-1c0.1-0.8,0.6-1.3,1.2-1.6 c0.6-0.4,1.3-0.8,1.9-1.3c0.4-0.2,0.7-0.6,0.9-1c0.1-0.3,0.3-0.6,0.6-0.8c0.2-0.2,0.5-0.4,0.8-0.5c0.1,0,0.3-0.1,0.4-0.1 c0,0.4,0,0.7,0,1.1c-0.4,5.9-2.5,11-6.6,15.3c-3.6,3.9-8.1,6.2-13.3,7.2c-1.4,0.3-2.9,0.5-4.4,0.4c-0.2,0-0.4-0.1-0.6-0.2 c-0.2-0.1-0.3-0.2-0.4-0.4c-0.2-0.2-0.1-0.4,0.2-0.5c0.4-0.2,0.8-0.3,1.2-0.4c0.8-0.3,1.5-0.5,2.3-0.7c0.3-0.1,0.6-0.1,0.9-0.1 c0.7,0.1,1.3-0.2,1.8-0.6c0.7-0.5,1.3-1.1,2-1.6c0.8-0.6,1.6-1.1,2.4-1.5c0.6-0.4,1.1-0.8,1.4-1.5c0.1-0.2,0.2-0.4,0.3-0.6 c0.4-0.8,1-1.2,1.8-1.3c0.5-0.1,1.1-0.2,1.6-0.3C66.7,38.1,67.2,37.8,67.4,37.2z M74.9,18.7l-0.5,0.1c-0.1-0.3-0.3-0.6-0.4-0.8 c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.3-0.2,0.7-0.6,0.7c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3-0.1-0.5-0.2 c-0.1-0.1-0.3-0.1-0.4-0.1c-0.4,0-0.7-0.1-1-0.4c-0.2-0.2-0.3-0.3-0.5-0.5c-0.3-0.2-0.6-0.4-0.9-0.5c-0.8-0.2-1.6-1.4-1.5-2.3 c0-0.2,0.1-0.3,0.2-0.5c0.1-0.2,0.2-0.3,0.4-0.4c0.9-0.6,1-0.7,0.6-1.7c-0.1-0.1-0.1-0.3-0.1-0.5c-0.1-0.3,0.1-0.5,0.3-0.6 c0.4-0.3,0.5-0.5,0.3-1c-0.1-0.2-0.2-0.3-0.3-0.5c-0.3-0.6-0.2-1.1,0.4-1.4c0,0,0.1-0.1,0.1-0.1C72.2,11.2,74,14.7,74.9,18.7z  M47.6,10.9L47.6,10.9l-5.4-0.6L48,7.5L47.6,10.9l4.7-3l2.7,3H47.6z M54.1,14.9l0.9-4.1l-6,4.7L54.1,14.9z M45.5,19.3l6.5,1.6 l-3-5.3L45.5,19.3z M45.5,19.3l-6-1.3l1.7,2.9l0.1,0l4.2,1.7L45.5,19.3L45.5,19.3L45.5,19.3z M39.2,13.7l0.4,4.3l3.8-3.2L39.2,13.7 z M38.3,11.1l4-0.8l-2.3-1.1L38.3,11.1z M56.8,9.3L55,10.9l5.2-0.3L56.8,9.3z M60.2,16.9L60,17.2l6.3-1.1l-3.5-3.3l-2.2,3.5 l-0.4-5.7l-6.1,4.3L60.2,16.9z M64.5,18.8l1.7,4.6l1.9-4.7L64.5,18.8z M70.4,22.2l1.5,2.4l0.1-3.2L70.4,22.2z M66.1,23.4l3.1,1.7 l1.2-2.9l-0.8-3.5L66.1,23.4z M65.9,26.8l0.2-3.4l-4.9,2.4L65.9,26.8z M60.8,20.1l0.4,5.7l3.2-7.1L60.8,20.1z M52,20.8l2.5,3.9 l4.1-3.8L52,20.8z M56.1,27l1.5,5.7l4-4.2L56.6,27l4.6-1.2l-6.7-1.1L56.1,27z M65.7,32.7l-4.1-4.3v7.6L65.7,32.7z M55,41.8l2.9-1.2 l-1.5-3.1L55,41.8z M60.9,39.3l0.6-3.2l-3.7,4.5L60.9,39.3z M64.2,37l-2.6-1l1.2,2L64.2,37z M56.4,37.4l5.2-1.4l-4-3.5L56.4,37.4z  M54.1,14.9L52,20.8l5-2.1L54.1,14.9z M47.6,10.9l-4.2,4l3.2,0.2L47.6,10.9z"
              ></path>
              <path
                fill="#0071BC"
                d="M49.2,16.2c0.5,0,0.8-0.4,0.8-0.8s-0.4-0.8-0.8-0.8c-0.5,0-0.8,0.4-0.8,0.8S48.7,16.2,49.2,16.2z M60.4,18 c0.6,0,1-0.5,1-1s-0.5-1-1-1c-0.6,0-1,0.5-1,1S59.8,18,60.4,18z M47.9,24.9c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5 s-0.5,0.2-0.5,0.5C47.4,24.7,47.7,24.9,47.9,24.9z M47.9,8.2c0.3,0,0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5s-0.5,0.2-0.5,0.5 S47.6,8.2,47.9,8.2z M60.2,11.1c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5 C59.7,10.9,59.9,11.1,60.2,11.1z M45.7,20.1c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1c-0.6,0-1,0.5-1,1C44.7,19.7,45.1,20.1,45.7,20.1z"
              ></path>
              <path
                fill="#00FFFF"
                d="M42.1,11.3c0.5,0,0.8-0.4,0.8-0.8c0-0.5-0.4-0.8-0.8-0.8c-0.5,0-0.8,0.4-0.8,0.8 C41.3,10.9,41.7,11.3,42.1,11.3z M47.6,11.4c0.3,0,0.6-0.3,0.6-0.6s-0.3-0.6-0.6-0.6S47,10.5,47,10.9S47.3,11.4,47.6,11.4z  M54.1,15.5c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5C53.6,15.2,53.8,15.5,54.1,15.5z M54.7,11.5 c0.3,0,0.6-0.2,0.6-0.6c0-0.3-0.2-0.6-0.6-0.6c-0.3,0-0.6,0.2-0.6,0.6C54.1,11.2,54.4,11.5,54.7,11.5z M64.5,19.3 c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5C63.9,19.1,64.2,19.3,64.5,19.3z M53.6,34.8 c0.3,0,0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5S53,34,53,34.3C53,34.6,53.3,34.8,53.6,34.8z M62.7,13.5c0.3,0,0.5-0.2,0.5-0.5 c0-0.3-0.2-0.5-0.5-0.5s-0.5,0.2-0.5,0.5C62.2,13.2,62.4,13.5,62.7,13.5z M66,23.9c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8 s-0.8,0.4-0.8,0.8C65.2,23.5,65.6,23.9,66,23.9z M39.5,18.9c0.4,0,0.8-0.4,0.8-0.8c0-0.4-0.4-0.8-0.8-0.8c-0.4,0-0.8,0.4-0.8,0.8 C38.7,18.6,39,18.9,39.5,18.9z M61.3,26.7c0.6,0,1-0.5,1-1c0-0.6-0.5-1-1-1c-0.6,0-1,0.5-1,1C60.3,26.3,60.7,26.7,61.3,26.7z  M74.9,20.8c0.5,0,1-0.4,1-1s-0.4-1-1-1c-0.5,0-1,0.4-1,1S74.4,20.8,74.9,20.8z M62.5,3.6c0.5,0,1-0.4,1-1s-0.4-1-1-1s-1,0.4-1,1 S62,3.6,62.5,3.6z M55.1,42.8c0.6,0,1-0.5,1-1s-0.5-1-1-1c-0.6,0-1,0.5-1,1S54.5,42.8,55.1,42.8z"
              ></path>
            </g>
          </svg>
          <div
            id="name-application"
            class="transition-all duration-300 ease-in-out absolute text-white left-16 overflow-ellipsis overflow-hidden ml-5 opacity-0 text-[0px] hidden"
          >
            Admin
          </div></a
        >
      </div>
      <div class="relative is-active">
        <svg
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="384px"
          height="384px"
          viewBox="0 0 384 384"
          enable-background="new 0 0 384 384"
          xml:space="preserve"
          class="w-9 text-white transition-all duration-300 ease-in-out"
        >
          <path
            d="M251,192.2c-4.7-4.5-8.7-8.4-12.7-12.4C196,137.5,153.7,95.3,111.6,53c-2.1-2.2-3.9-5.3-4.5-8.3c-1-4.8,1.6-9,5.8-11.1 c4.5-2.2,8.7-1.7,12.6,1.3c1,0.8,1.8,1.7,2.7,2.6c47.8,47.8,95.6,95.6,143.5,143.4c7.3,7.3,7.3,14.8,0,22.2 C223.8,251,175.8,298.9,128,346.8c-3.6,3.6-7.4,6-12.6,4.5c-7.9-2.2-11.1-11.4-6.1-17.9c0.9-1.2,2-2.2,3.1-3.3 c45.1-45.1,90.1-90.1,135.2-135.2C248.5,194.1,249.5,193.4,251,192.2z"
          ></path>
        </svg>
      </div>
    </div>
    <!-- end header -->

    <!-- slidebar -->
    <div
      class="fixed z-30 top-16 left-0 h-screen bg-teal-900 transition-all duration-300 ease-in-out w-16"
    >
      <ul class="menu relative h-[calc(100vh-5rem)]" id="menu-sidebar">
        <li
          class="flex items-center text-gray-300 h-12 m-2 relative cursor-pointer py-1 px-2 bg-teal-700 text-white !fill-gray-300 rounded-2xl opacity-100 justify-center"
        >
          <div class="absolute">
            <svg
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="384px"
              height="384px"
              viewBox="0 0 384 384"
              enable-background="new 0 0 384 384"
              xml:space="preserve"
              class="h-6 w-6"
            >
              <path
                d="M0,317.2C0,243.5,0,169.8,0,96c0.2-0.8,0.6-1.6,0.7-2.4C5.1,59.6,34,32.1,68.1,30c6.7-0.4,13.4-0.1,20.4-0.1 c0-4.2,0.2-7.6,0-10.9c-0.7-9.4,3-15.9,12.1-19c2,0,4,0,6,0c9.2,3.3,12.8,10,12,19.5c-0.3,3.2,0,6.4,0,9.8c49.2,0,97.9,0,147.1,0 c0-3.4,0.2-6.6,0-9.8c-0.8-9.5,2.8-16.2,12-19.5c2,0,4,0,6,0c9,3.1,12.8,9.6,12.1,19c-0.3,3.4,0,6.9,0,10.5c4.7,0,8.8,0,12.9,0 c35.3,0.5,64,22,73,54.9c1,3.8,1.7,7.7,2.6,11.6c0,73.8,0,147.5,0,221.2c-0.2,0.7-0.6,1.4-0.7,2.1c-4.1,30.8-26.4,55.4-56.7,62.6 c-3.4,0.8-6.8,1.4-10.2,2.1c-83,0-166,0-249,0c-0.7-0.2-1.4-0.6-2.1-0.6c-31.5-4-56.5-26.5-63.6-57.4C1.1,323.1,0.6,320.2,0,317.2z  M30,148.1c0,1.7,0,2.9,0,4.2c0,52.1,0,104.2,0,156.3c0,25.9,19.2,45.3,45.2,45.3c77.9,0.1,155.7,0.1,233.6,0 c26,0,45.2-19.4,45.2-45.4c0-52.1,0-104.2,0-156.3c0-1.3,0-2.6,0-4.1C245.8,148.1,138.1,148.1,30,148.1z M30.3,117.7 c108,0,215.7,0,323.5,0c5-46.8-28.1-62.5-58.2-57.5c0,9.5,0.1,19,0,28.4c-0.1,8.2-6,14.5-13.8,15c-8.9,0.6-16-5.9-16.1-14.9 c-0.1-9.6,0-19.2,0-29c-49.1,0-97.9,0-147.1,0c0,1.6,0,2.9,0,4.3c0,8.2,0.1,16.5,0,24.7c-0.1,8.6-6.7,15-15,14.9 c-8.4,0-14.8-6.4-14.9-15.1c-0.1-4.4,0-8.7,0-13.1c0-5.2,0-10.4,0-15.6C52.9,55.4,25.6,75.2,30.3,117.7z M88.6,280.5 c-8.3,0.2-14.8,6.6-14.9,14.7c-0.2,8.1,6.4,15.1,14.8,15.2c10,0.2,20,0.2,30,0c8.3-0.2,14.7-6.8,14.7-14.9c0-8.2-6.5-14.8-15-15 c-4.9-0.1-9.7,0-14.6,0C98.6,280.5,93.6,280.4,88.6,280.5z M265.7,280.5c-8.3,0.2-14.7,6.6-14.9,14.8c-0.1,8.2,6.4,15,14.9,15.2 c9.9,0.2,19.7,0.1,29.6,0c8.5-0.1,15.1-6.8,15.1-15c0-8.2-6.6-14.8-15.1-15c-4.9-0.1-9.7,0-14.6,0 C275.7,280.5,270.7,280.4,265.7,280.5z M295.4,222c8.5-0.2,15-6.9,15-15.1c-0.1-8.2-6.7-14.8-15.2-14.8c-9.7-0.1-19.5-0.1-29.2,0 c-8.5,0.1-15.1,6.6-15.1,14.9c-0.1,8.2,6.5,14.8,15,15c4.9,0.1,9.7,0,14.6,0C285.4,222,290.4,222.1,295.4,222z M118.2,222 c8.5-0.2,15-6.9,15-15.1c-0.1-8.3-6.6-14.8-15.1-14.9c-9.7-0.1-19.5-0.1-29.2,0c-8.5,0.1-15.1,6.7-15.2,14.9 c-0.1,8.2,6.5,14.9,15,15.1c4.9,0.1,9.7,0,14.6,0C108.3,222,113.2,222.1,118.2,222z M206.7,222c8.5-0.2,15-6.8,14.9-15.1 c-0.1-8.3-6.6-14.8-15.1-14.9c-9.7-0.1-19.5-0.1-29.2,0c-8.5,0.1-15.1,6.6-15.2,14.9c-0.1,8.2,6.5,14.9,15,15.1 c4.9,0.1,9.7,0,14.6,0C196.7,222,201.7,222.1,206.7,222z M176.9,280.5c-8.3,0.2-14.7,6.8-14.8,14.9c0,8,6.4,14.9,14.6,15 c10.1,0.2,20.2,0.2,30.3,0c8.3-0.2,14.6-7,14.5-15.1c-0.1-8.2-6.5-14.6-14.8-14.8c-4.9-0.1-9.7,0-14.6,0 C187.1,280.5,182,280.4,176.9,280.5z"
              ></path>
            </svg>
          </div>
          <span
            class="ml-2.5 transition-all duration-300 ease-in-out font-medium text-base !h-8 flex items-center hidden"
            >Tra cứu dữ liệu</span
          >
        </li>
        <li
          class="flex items-center text-gray-300 h-12 m-2 relative cursor-pointer py-1 px-2 fill-gray-300 justify-center"
        >
          <div class="absolute">
            <svg
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="384px"
              height="384px"
              viewBox="0 0 384 384"
              enable-background="new 0 0 384 384"
              xml:space="preserve"
              class="h-6 w-6"
            >
              <path
                d="M203.2,0c7.4,1,14.9,1.7,22.2,3c30.7,5.2,58.4,17.6,83.2,36.5c4.2,3.2,5.2,7.4,2.6,11c-2.6,3.7-7.3,4.2-11.5,0.9 c-19.6-14.9-41.3-25.6-65.4-31.4C139.9-2.8,44.3,53.6,20.9,147.9c-16.6,67,1.1,125.4,50.7,173.8c0.8,0.8,1.7,1.4,2.2,1.9 c19.8-61.7,60.5-96.1,126.7-93.5c51.8,2,96.6,40.3,108.9,94c1-0.8,1.9-1.4,2.6-2.1c33.6-31.5,52.6-70.2,56.3-116.2 c3-37.1-5.2-71.7-23.9-103.8c-0.4-0.6-0.7-1.3-1.1-2c-2-4-1-8,2.5-10.2c3.6-2.2,8.2-1.3,10.3,2.7c5.2,10.1,10.6,20.1,14.9,30.6 c7.1,17.2,10.9,35.3,12.2,53.8c0.1,1,0.4,1.9,0.6,2.9c0,8,0,16,0,24c-0.3,2.5-0.6,4.9-0.9,7.4c-4.4,40.4-19.6,76.2-46.4,106.8 c-29.8,34-67,55-111.6,62.9c-7,1.2-14,2-21.1,2.9c-8,0-16,0-24,0c-1-0.2-1.9-0.5-2.9-0.6c-32.6-2.5-62.8-12.5-90.1-30.7 C41.2,322,13,279.5,2.9,225.1C1.6,218.1,1,211,0,204c0-8,0-16,0-24c1.2-8.5,2.1-17.1,3.7-25.5C18.1,77.9,81.7,15.6,158.5,2.9 c7.1-1.2,14.3-2,21.5-2.9C187.8,0,195.5,0,203.2,0z M191.3,369c35.6-0.3,67.9-9.5,97.3-28.7c7.9-5.2,7.9-5.2,5.7-14.5 c-14.6-62-78.8-97-138.5-74.9c-37.1,13.8-59.1,41.1-67.2,79.8c-0.6,3-0.1,4.9,2.7,6.8C121.6,358.5,155.2,368.7,191.3,369z  M192.2,79.5c37.2,0.1,67.4,30.4,67.3,67.7c-0.1,37.2-30.4,67.4-67.7,67.3c-37.2-0.1-67.4-30.4-67.3-67.7 C124.6,109.7,154.9,79.4,192.2,79.5z M191.9,199.5c28.9,0,52.5-23.5,52.5-52.4c0.1-28.9-23.4-52.6-52.3-52.6 c-29.1-0.1-52.7,23.5-52.7,52.5C139.5,175.9,163.1,199.5,191.9,199.5z M330.1,61.5c-4.1-0.1-7.6,3.4-7.6,7.5c0,4,3.3,7.4,7.3,7.4 c4.1,0.1,7.6-3.4,7.6-7.5C337.4,65,334.1,61.6,330.1,61.5z"
              ></path>
            </svg>
          </div>
          <span
            class="ml-2.5 transition-all duration-300 ease-in-out font-medium text-base !h-8 flex items-center hidden"
            >Người Dùng</span
          >
        </li>
        <li
          class="flex items-center justify-center h-12 m-2 px-2 text-gray-300 fill-gray-300"
        >
          <div class="">
            <svg
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="512px"
              height="512px"
              viewBox="0 0 512 512"
              enable-background="new 0 0 512 512"
              xml:space="preserve"
              class="h-6 w-6"
            >
              <path
                d="M212,0c29.3,0,58.7,0,88,0c6.1,2.5,7.9,7.4,7.8,13.6c-0.2,9.3,0,18.6-0.1,28c0,2.6,0.8,3.8,3.4,4.5 c5.9,1.6,11.9,3.1,17.6,5.5c13.5,5.6,26.7,11.7,40.8,17.9c6.7-6.7,14.1-14.2,21.5-21.5c7.2-7.2,11.9-7.2,19.1,0c18,18,36,36,54,54 c7.2,7.2,7.2,11.9,0,19.1c-7.4,7.4-14.8,14.8-22.4,22.3c11,18.5,19.3,37.9,24.7,58.4c0.3,1.1,2.7,2.3,4.1,2.3 c9.3,0.2,18.6,0.2,28,0.1c6.2-0.1,11.1,1.7,13.6,7.8c0,29.3,0,58.7,0,88c-2.5,6.1-7.4,7.9-13.6,7.8c-9.3-0.2-18.6,0-28-0.1 c-2.6,0-3.8,0.8-4.5,3.4c-1.6,5.9-3.1,11.9-5.5,17.6c-5.6,13.5-11.7,26.7-17.9,40.7c6.7,6.7,14.2,14.1,21.5,21.5 c7.2,7.2,7.2,11.9,0,19.1c-18,18-36,36-54,54c-7.2,7.2-11.9,7.2-19.1,0c-7.4-7.4-14.8-14.8-22.3-22.4c-18.6,11-37.9,19.3-58.4,24.7 c-1.1,0.3-2.3,2.7-2.3,4.1c-0.2,9.3-0.2,18.6-0.1,28c0.1,6.2-1.8,11.1-7.8,13.6c-29.3,0-58.7,0-88,0c-6.1-2.5-7.9-7.4-7.8-13.6 c0.2-9.3,0-18.6,0.1-28c0-2.6-0.7-3.9-3.4-4.5c-5.1-1.3-10.4-2.6-15.2-4.6c-14.2-5.9-28.3-12.2-43.2-18.7 c-6.6,6.6-14,14.1-21.4,21.4c-7.2,7.2-11.9,7.2-19.1,0c-18-18-36-36-54-54c-7.2-7.2-7.2-11.9,0-19.1c7.4-7.4,14.8-14.8,22.4-22.3 c-11-18.5-19.3-37.9-24.7-58.4c-0.3-1.1-2.7-2.3-4.1-2.3c-9.3-0.2-18.6-0.2-28-0.1C7.4,307.9,2.5,306.1,0,300c0-29.3,0-58.7,0-88 c2.5-6.1,7.4-7.9,13.6-7.8c9.3,0.2,18.6,0,28,0.1c2.6,0,3.8-0.8,4.5-3.4c1.6-5.9,3.1-11.9,5.5-17.6c5.6-13.5,11.7-26.7,17.9-40.7 c-6.7-6.7-14.2-14.1-21.6-21.5c-7.2-7.2-7.2-11.9,0-19.1c18-18,36-36,54-54c7.2-7.2,11.9-7.1,19.1,0c7.4,7.4,14.8,14.8,22.3,22.4 c18.6-11,37.9-19.3,58.4-24.7c1.1-0.3,2.3-2.7,2.3-4.1c0.2-9.3,0.2-18.6,0.1-28C204.1,7.4,205.9,2.5,212,0z M491.9,224.2 c-10.3,0-20.1,0-29.9,0c-8.6,0-11.5-1.9-13.4-10.2c-5.3-23.1-14.3-44.6-26.9-64.7c-4.3-6.9-3.7-10.5,2.1-16.4 c7-7.1,14.1-14.1,20.9-20.9c-15.1-15-29.9-29.8-45.2-45.1c-3.3,3.5-6.8,7.3-10.4,11c-3.6,3.7-7.2,7.4-11,11c-5,4.8-8.8,5.3-14.8,1.9 c-6.1-3.4-12-7.2-18.2-10.4c-14.9-7.7-30.5-13-46.8-16.8c-8.7-2-10.6-4.8-10.7-13.6c0-5.5,0-11,0-16.5c0-4.4,0-8.8,0-13.2 c-21.6,0-42.3,0-63.5,0c0,9.9,0,19.6,0,29.2c0,9.3-1.9,12-10.7,14c-22.8,5.2-44,14.1-63.8,26.4c-7.4,4.6-10.9,4-17.1-2.2 c-7-6.9-13.9-13.9-20.4-20.5c-15.1,15-29.9,29.8-45,44.7c7,7,14.3,14.1,21.4,21.3c5.3,5.4,5.7,9.1,2,15.6c-3.5,6.1-7.2,12-10.4,18.2 c-7.6,14.7-12.9,30.3-16.6,46.4c-2,8.7-4.8,10.6-13.6,10.7c-5.5,0-11,0-16.5,0c-4.4,0-8.8,0-13.2,0c0,21.6,0,42.3,0,63.5 c9.9,0,19.6,0,29.2,0c9.3,0,12,1.9,14,10.7c5.2,22.8,14.1,44,26.4,63.8c4.6,7.4,4,10.9-2.2,17.1c-6.9,7-13.9,13.9-20.5,20.4 c15,15.1,29.8,29.9,44.8,45c7-7,14.1-14.3,21.3-21.4c5.4-5.3,9.1-5.7,15.6-2c6.1,3.5,12,7.2,18.2,10.4c14.7,7.6,30.3,12.9,46.4,16.6 c8.7,2,10.6,4.8,10.7,13.6c0,5.7,0,11.3,0,17c0,4.2,0,8.5,0,12.6c21.6,0,42.3,0,63.5,0c0-9.9,0-19.6,0-29.2c0-9.3,1.9-12,10.7-14 c22.8-5.2,44-14.1,63.8-26.4c7.4-4.6,10.9-4,17.1,2.2c7,6.9,13.9,13.9,20.5,20.6c15.1-15.1,29.8-29.9,44.9-45 c-7-7-14.4-14.2-21.7-21.5c-4.9-5-5.3-8.7-1.9-14.8c3.5-6.2,7.3-12.3,10.6-18.7c7.9-15.1,13.1-31.3,17-47.8 c1.7-6.9,4.7-9.1,11.6-9.2c5.8-0.1,11.7,0,17.5,0c4.6,0,9.2,0,13.8,0C491.9,266.3,491.9,245.6,491.9,224.2z M279.5,367.6 c58.8-12.8,97.4-67.4,89.3-126.8c-1.4-10.1-4.9-20-8.1-29.7c-1.8-5.6-7.3-7.8-12.5-6.1c-5.1,1.7-7.6,6.7-6.2,12.5 c0.6,2.2,1.5,4.4,2.3,6.6c18.8,49.8-10.4,107.7-61.7,122.2c-22,6.2-43.4,4.9-64.5-4c-6.8-2.8-12.4-0.7-14.6,5 c-2.2,5.6,0.6,10.8,7.4,13.6c14.3,6,29.1,9.2,44.7,9.8C263.7,369.6,271.7,369.3,279.5,367.6z M149.3,296.4c2.1,5.8,7.4,8.4,12.7,6.6 c5.1-1.7,7.6-6.7,6.2-12.5c-0.5-1.9-1.1-3.8-1.8-5.7c-15.4-45.9,9-98.2,54.2-116c23-9.1,46-9.1,69.2-0.7c7,2.5,12.4,0.4,14.6-5.3 c2.1-5.6-0.9-10.9-7.7-13.4c-20.8-7.9-42.1-9.6-63.8-5.2c-52.6,10.7-90.8,57.7-90.9,113.7C141.8,269.8,144.5,283.3,149.3,296.4z  M338.5,181.4c0-5.3-4.5-9.9-9.8-9.9c-5.4,0-9.8,4.4-9.8,9.8c0,5.5,4.3,9.8,9.8,9.8C334,191.2,338.5,186.8,338.5,181.4z M190.1,328 c0.3-5.5-3.9-10-9.3-10.3c-5.4-0.2-10,3.8-10.4,9.3c-0.4,5.2,4,10,9.4,10.3C185.3,337.5,189.8,333.4,190.1,328z"
              ></path>
            </svg>
          </div>
        </li>
      </ul>
    </div>
    <!-- end slidebar -->

    <!-- content -->
    <main>
        {{> content}}
    </main>
    <!-- end content -->
    <!-- footer -->
    <footer class="text-center pt-1.5 w-full -mt-8 absolute bottom-0 left-0 right-0 py-4"><h4>Công ty cổ phần Công nghệ Ari. ©2023</h4></footer>
    <!-- end footer -->

=======
    <!-- Header -->
    <div>
      <h1 class='text-center text-red-700 font-bold bg-red-500'>Boyvip_535</h1>
    </div>
    <main class="min-h-[calc(100vh-103.7rem)]">
      {{> content}}
    </main>
>>>>>>> cc8f740c6e029c4f7825d7407c7f003164b91df4
  </body>
</html>